{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "useBuiltIns": "false",
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "transform-react-remove-prop-types",
      {
        "mode": "unsafe-wrap"
      }
    ]
  ]
}
