{
  "parser": "babel-eslint",
  "extends": ["prettier", "prettier/react", "react-app"],
  "plugins": ["prettier", "react-hooks", "babel"],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": "warn"
  }
}
